header{ 
    background-color: #2a2f38;
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100%;
    .nav{
        margin:0px;
        padding:1rem;
        margin-left: auto;
        li{
            list-style:none;
            display:inline-block;
            padding:0 2rem;
            a{
                color:#ffffff;
                text-decoration:none;
            }
        }
    }
    svg{
        height: 10vh;
        g{
            fill: #ff9900;
        }
    }
}