.cover {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    text-align: center;

    .wrap {
        position: relative;
        z-index: 1;
        // padding: 100px 16px;
        max-width: 1024px;
    }

    .descr {
        color: #2a2f38;
        padding: 15px 0 30px 0;
        font-size: 20px;
        line-height: 1.55;
    }
}